*.bin-shard*
TAB2000_TAB2010_ST*
*.pyc
.ipynb_checkpoints
\#*
columncache
expression_cache
prototiles
prototiles002
dotmap_layerdefs.db
junkyard
prototiles003
dotmap_layerdefs.db-journal
prototiles.2020
.venv
census_db_2020_geoids.json
nhgis_blk2010_blk2020_gj_README.txt
nhgis_blk2010_blk2020_gj.csv
tmp
crosswalk_matrix_2010_2020_old.npz
gunicorn-error.log
.gitignore
portnum.txt
